html {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

section {
  text-align: center;
  flex: 1;
  background-color: rgba(255, 206, 0, 0.6); }
  section h2 {
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem auto;
    width: 100%;
    display: inline-block;
    color: #262228; }

section#index,
div#contact {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem; }
  @media screen and (min-width: 600px) {
    section#index,
    div#contact {
      padding-top: 1rem;
      flex-direction: row;
      justify-content: space-around; } }
  section#index div,
  div#contact div {
    text-align: center; }
    section#index div:hover > a,
    div#contact div:hover > a {
      color: #0375B4; }
      @media screen and (min-width: 450px) {
        section#index div:hover > a,
        div#contact div:hover > a {
          transform: scale(1.1); } }
    section#index div a,
    div#contact div a {
      text-decoration: none;
      cursor: pointer;
      color: #262228;
      display: block;
      transition: .5s; }
      section#index div a svg,
      div#contact div a svg {
        display: inline;
        height: 90px;
        width: 90px;
        margin: auto;
        padding: 1rem;
        cursor: pointer;
        color: white; }
        @media screen and (min-width: 700px) {
          section#index div a svg,
          div#contact div a svg {
            height: 200px;
            width: 200px;
            padding: 2rem; } }

section#index div a {
  color: #262228; }

div#scrollForMore {
  width: 100%;
  padding-bottom: 1rem;
  text-align: center;
  background-color: rgba(255, 206, 0, 0.6); }
  div#scrollForMore div#circle {
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 5px solid #0375B4;
    border-radius: 50%; }
    div#scrollForMore div#circle div#arrow {
      border: solid #0375B4;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 8px;
      transform: rotate(45deg);
      margin-top: 10px; }

@impott 'slideshow.scss';
footer {
  width: 100%;
  background-color: #0375B4;
  font-size: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer p:first-child {
    padding: .5rem;
    font-size: 1rem;
    font-family: 'Bad Script', cursive;
    color: #FFCE00; }
  footer div {
    margin-left: .25rem;
    color: white; }
  footer div.footerIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    footer div.footerIcons svg {
      height: 20px;
      width: 20px;
      opacity: .5;
      transition: .8s;
      cursor: pointer;
      padding: .5rem; }
      footer div.footerIcons svg:hover {
        transform: scale(1.1);
        opacity: 1; }
      @media screen and (min-width: 400px) {
        footer div.footerIcons svg {
          height: 35px;
          width: 35px; } }
      @media screen and (min-width: 700px) {
        footer div.footerIcons svg {
          height: 50px;
          width: 50px; } }
      @media screen and (min-width: 1000px) {
        footer div.footerIcons svg {
          height: 75px;
          width: 75px; } }

header#indexHeader {
  margin: 0 auto; }
  header#indexHeader div {
    width: 80%;
    margin: 0 auto; }
    @media screen and (min-width: 600px) {
      header#indexHeader div {
        width: 50%; } }
    header#indexHeader div h1 {
      text-align: center;
      font-size: 2rem;
      font-family: 'Bad Script', cursive;
      padding: 1rem; }
      @media screen and (min-width: 600px) {
        header#indexHeader div h1 {
          padding: 1.5rem;
          font-size: 3rem; } }

header {
  width: 100%;
  background-color: #0375B4; }
  header div {
    text-align: center; }
    header div h1.smallTitle {
      font-family: 'Bad Script', cursive;
      font-size: 1.25rem;
      padding: 1rem 0; }
    header div.headerBorder {
      border-top: 2px solid white; }
    header div:not(.topnav) {
      color: #FFCE00;
      margin: 0 auto;
      width: 300px; }
      @media screen and (min-width: 600px) {
        header div:not(.topnav) {
          margin: 0rem 1rem; } }

section#about {
  display: block;
  flex-direction: none;
  padding: 1rem; }

div.container {
  line-height: 2rem;
  text-align: justify; }
  div.container h2 {
    font-size: 1.5rem;
    font-family: 'Bad Script', cursive;
    color: #007849; }
    @media screen and (min-width: 600px) {
      div.container h2 {
        font-size: 2rem;
        margin: .5rem auto; } }
  div.container p {
    font-size: 1.25rem;
    color: #262228; }
    div.container p a {
      color: #0375B4; }
      @media screen and (min-width: 600px) {
        div.container p a {
          font-size: 1.5rem; } }
  div.container div#photo {
    padding: 1rem; }
    div.container div#photo img {
      filter: brightness(80%);
      filter: contrast(80%);
      border: 2px solid #0375B4;
      border-radius: 40%;
      width: 100%;
      max-width: 300px; }
      @media screen and (min-width: 600px) {
        div.container div#photo img {
          width: 300px;
          margin-right: 2rem; } }

div#content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 600px) {
    div#content {
      flex-direction: row;
      justify-content: center;
      width: 90%;
      margin: auto; } }

div.topnav {
  background-color: #262228;
  overflow: hidden;
  padding: 0; }
  div.topnav a {
    float: left;
    display: block;
    color: #FFCE00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer; }
    div.topnav a:hover {
      background-color: #ddd;
      color: black; }
    div.topnav a:not(:first-child) {
      display: none; }
      @media screen and (min-width: 600px) {
        div.topnav a:not(:first-child) {
          display: block; } }
    div.topnav a.icon {
      float: right;
      display: block; }
      @media screen and (min-width: 600px) {
        div.topnav a.icon {
          display: none; } }

div.responsive {
  position: relative; }
  div.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  div.responsive a {
    float: none;
    display: block !important;
    text-align: left; }

div#projectGallery {
  padding: 0;
  width: 100%;
  margin-top: 2rem; }

div.row {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  @media screen and (min-width: 600px) {
    div.row {
      flex-direction: row; } }
  div.row > div.column {
    padding: 0;
    position: relative;
    height: 157px;
    cursor: pointer; }
    @media screen and (min-width: 600px) {
      div.row > div.column {
        margin-left: 1rem;
        margin-top: 1rem; } }
  div.row:after {
    content: '';
    display: table;
    clear: both; }

div.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 300px;
  height: 0;
  margin: 0 auto;
  transition: .5s ease;
  cursor: pointer; }

div.column:hover div.overlay {
  bottom: 0;
  height: 100%; }

div.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

div.column {
  text-align: center;
  margin-top: 1.5rem; }
  @media screen and (min-width: 900px) {
    div.column {
      margin-top: 0; } }
  div.column img {
    width: 300px;
    border: 1px solid black; }

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85); }
  div.modal h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: .25rem; }
  div.modal a {
    color: white;
    display: inline-block; }
    div.modal a:hover {
      color: blue; }
    div.modal a.prev {
      display: block; }
    div.modal a.next {
      display: block; }
  div.modal p {
    margin-top: .5rem;
    font-size: 1.25rem;
    color: white;
    line-height: 1.5rem; }

div.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px; }

span.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: 700; }
  span.close.close:hover, span.close.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer; }

div.mySlides {
  display: none; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

div.caption-container {
  line-height: 3rem;
  text-align: center;
  padding: 2px 16px;
  color: white; }

div#myModal div.column img {
  display: none; }

.active {
  opacity: 1; }

/*# sourceMappingURL=application.css.map */
