div.topnav {
	background-color: #262228;
    overflow: hidden;
    padding: 0;

    a {
    	float: left;
	    display: block;
	    color: #FFCE00;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    font-size: 17px;
	    cursor: pointer;

	    &:hover {
	    	background-color: #ddd;
    		color: black;
	    }

	    &:not(:first-child) {
	    	display: none;
	    	@media screen and (min-width: 600px) {
	    		display: block;
	    	}
	    }

	    &.icon {
	    	float: right;
    		display: block;
	    	@media screen and (min-width: 600px) {
	    		display: none;
	    	}
	    }
    }	
}

div.responsive {
		position: relative;
	
		a.icon {
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	  	}

	 	a {
	    	float: none;
	    	display: block !important;
	    	text-align: left;
	 	}
	}

